@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-image: linear-gradient(180deg, #ffffff 0%, #c7c6c3 100%);
  box-shadow: 0 16px 14px 0 #5a5b5c;
  padding: 18px 24px;
  max-width: 367px;
}

.image {
  margin-bottom: 15px;
  border-radius: 10px;
}

.title {
  font-size: 25px;
  font-weight: 700;
}

.description {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
}

.skills {
  width: 100%;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  font-size: 18px;
  font-weight: 400;
  border-radius: 100px;
  background: #b5b4af;
  padding: 2px 22px;
}

.links {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 1px 22px;
}
